:root {
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: inherit;
}


.my-accordion {
    --bs-accordion-active-bg: #fff;
    --bs-accordion-active-color: #000;
}

.my-btn{
    --bs-btn-focus-shadow-rgb: 0,0,0;
    --bs-btn-active-shadow: none;
    --bs-btn-active-border-color: white;
    --bs-btn-active-bg: red;
}
